body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
ul { list-style: none; padding-left: 5px; }
a { color:#366cd7; text-decoration: none;}
a:hover{
    text-decoration: underline;
}
.bar {
    background-color: #f9f9fb;
    padding:10px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.logo{
    margin-left: 25px;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}

.anchors {
    border-right: 1px solid #cdcdcd;
}
.sidebar{
    border-left: 1px solid #cdcdcd;
}
.img-dir {
    text-align: left;
    font-size: 12px;
    float: right;
    margin: 0px 0px 0px 30px;
    display: table;
}
.img-esq{
    text-align: left;
    font-size: 12px;
    float: left;
    margin: 0px 30px 0px 0px;
    display: table;
}
.video-dir{
    text-align: left;
    font-size: 12px;
    float: right;
    margin: 0px 0px 0px 30px;
    display: table;
}
.video-esq{
    text-align: left;
    font-size: 12px;
    float: left;
    margin: 0px 30px 0px 0px;
    display: table;
}
figcaption{
    display: table-caption;
    caption-side: bottom;
}
p{
    text-align: justify;
    margin: 20px 0px;
}
.anchors ul li{
    margin-bottom: 7px;
    padding-left: 7px;
}
.sidebar ul li{
    margin-bottom: 7px;
}
blockquote{
    background-color: #d8fbfe;
    padding: 16px;
    text-align: justify;
    border-left: 2px solid #85f7ff;
}

